body
{
    margin:0;
}

.splitBack
{
    display:grid;
    grid-template-columns: 50% 50%;
    height:100vh;
}

.rightBackred
{
    background: linear-gradient(180deg, #04ff0c,#005803,#005303);
    animation-name: redFade;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    background-size: 600% 600%;
}



@keyframes redFade {
    0%{background-position:52% 100%}
    50%{background-position:49% 0%}
    100%{background-position:52% 100%}
}

.leftBackgreen
{
    background: linear-gradient(180deg, #FF0000, #A40000, #800000);
    animation: leftFade 60s ease infinite;
    background-size: 600% 600%;
}

@keyframes leftFade {
    0%{background-position:49% 0%;}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}




#nav
{
    background: black;
}

#nav a
{
    color:green;
    text-decoration: none;
}

#nav li
{
    list-style: none;  
    white-space: 10p;
}

#nav ul
{
    display: inline-block;
}