@media (min-width: 576px) {

.navbar-brand{
    font-size: 25px;
}

.nav-item{
    font-size: 20px;
}

.h1,.h2,.h3{
    font-size: 25px;
}

.gitHub img,.linkedIn img{
    margin-left: 25%;
    width: 3em;
    height: 3em;
}
}

@media (min-width: 992px){

.navbar-nav{
  margin-left: 10em;
}

.nav-item{
    margin-top: 0.5em;
    max-width: 14em;
}

.nav-link{
    width: 100%;
    margin-left: 1em;
}

.gitHub img{
    margin-left: 4em;
}

.gitHub img,.linkedIn img{
    width: 2em;
    height: 2em;
}
.linkedIn img{
    margin-left: 9em;
}

.h1,.h2,.h3 {
  margin: 1em;
  font-size: 40px;
}

 .hero{
        width:100%
    }
}

@media (min-width: 1200px){

.navbar-nav{
  margin-left: 10em;
}

.nav-item{
    margin-top: 0em;
    max-width: 14em;
}

.gitHub img {
    margin-left: 20em;
}

.linkedIn img{
    margin-left: 17em;
}

.gitHub img,.linkedIn img{
    margin-top: 0.1em;
}

.h1,.h2,.h3 {
  margin: 1.5em;
  font-size: 50px;
}

.hero{
    width:100%
}
}

@media (min-width: 1400px){
    .nav-item{
    margin-left: -2em;
}
.nav-link{
    width: 13em;
}
.gitHub img {
    margin-left: 10em;
}

.linkedIn img{
    margin-left: 3em;
}

.gitHub img,.linkedIn img{
    margin-top: 0.1em;
    width: 2em;
    height: 2em;
}

.h1,.h2,.h3{
  font-size: 75px;  
}
}