@media (min-width: 576px) {

.navbar-brand{
    font-size: 25px;
}

.nav-item{
    font-size: 20px;
}

.h1,.h2,.h3{
    font-size: 25px;
}

.gitHub img,.linkedIn img{
    margin-left: 25%;
    width: 3em;
    height: 3em;
}
}

@media (min-width: 992px){

.navbar-nav{
  margin-left: 3em;
}

.nav-item{
    margin-top: 0.5em;
    max-width: 14em;
}

.nav-link{
    width: 14em;
}

.gitHub{
    margin-left: 0em;
}

.gitHub img,.linkedIn img{
    width: 2em;
    height: 2em;
}
.linkedIn img{
    margin-left: 9em;
}

.h1,.h2,.h3 {
  margin: 1em;
  font-size: 40px;
}
}

@media (min-width: 1200px){

.nav-item{
    margin-top: 0em;
    max-width: 14em;
}

.gitHub {
    margin-left: 10em;
}

.gitHub img,.linkedIn img{
    margin-top: 0.1em;
}

.h1,.h2,.h3 {
  margin: 1.5em;
  font-size: 50px;
}

    .hero{
        width:100%
    }
}

@media (min-width: 1400px){
    .nav-item{
    margin-left: 0.5em;
}

.gitHub {
    margin-left: 3em;
}

.linkedIn{
    margin-left: -8em;
}

.gitHub img,.linkedIn img{
    margin-top: 0.1em;
    width: 2em;
    height: 2em;
}

}