@media (min-width: 576px) {

.navbar-brand{
    font-size: 25px;
}

.nav-item{
    font-size: 20px;
}

h1{
    font-size: 25px;
}

.gitHub img,.linkedIn img{
    margin-left: 25%;
    width: 3em;
    height: 3em;
}

.slides{
    margin-left:7em;
}

.slides img{
 width: 30vw;
 height: 30vw;
 margin-left:4em;
}

.text-container{
    margin-left:-7em;
}

.aboutMe{
  text-align: center;
  margin-top: 1em;
  margin-left: 10em;
}

.aboutMe-par p{
  font-size: 15px;
  width: 80%;
  margin-left: 10%;
}

.experience-container{
  margin-left: 9em;
  width:60%;
}

.work-container{
  margin-right: 9rem;
}

.furnspace,.changing-workplace,.get-staffed-up{
 width: 7rem;
 height: 7rem;
 cursor: pointer;
}

.furnspace p,.get-staffed-up p{
  font-size:15px;
  padding-top: 3rem;
}

.changing-workplace p{
padding-top: 2.5rem;
}

.download-resume{
margin-left: -4.5rem;
width:20rem;
}

.download-resume a{
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  font-size: 20px;
}

.card{
  width: 20rem;
  height: 14rem;
  margin-top: -27rem;
  margin-left: 7rem;
}

.close{
  margin-left:17rem;
}

.changing-card{
  margin-top: -27rem;
}

.cafm-card{
margin-top: 1rem;
}

.education-container h1{
  width: 55%;
  margin-left:4rem;
}

.codespace-card,.ux-card,.shaw-card{
  display: block;
  margin-left: 0rem;
  margin-top: 1rem;
}

.codespace-card a,.ux-card a,.shaw-card a{
font-size: 12px;
}

.card-link{
  display: block;
  text-decoration: none;
  color:var(--lightest-color)
}

.github-link{
  margin-left:-1.3rem !important;
}

.shaw-card{
  height:18vh;
}
}

@media (min-width: 992px){

.navbar-nav{
  margin-left: 0em;
}

.nav-item{
    margin-top: 0.5em;
    max-width: 14em;
}

.nav-link{
    width: 100%;
    margin-left: 1em;
}

.gitHub img{
    margin-left: 14em;
}

.gitHub img,.linkedIn img{
    width: 2em;
    height: 2em;
}
.linkedIn img{
    margin-left: 11em;
}

h1 {
  margin: 1em;
  font-size: 40px;
}

 .hero{
        width:100%
    }

.slides img{
 width: 30vw;
 height: 30vw;
 margin-left:10em;
}

.text-container{
    margin-left:-7em;
}

.aboutMe{
  text-align: center;
  margin-top: 1em;
  margin-left: 17em;
}

.aboutMe h1{
  font-size:30px;
  width:30%;
}

.aboutMe-par p{
  font-size: 20px;
  width: 60%;
  margin-left: 8em;
}

.experience-container{
  margin-left: 17em;
  
}

.experience-container h1{
  font-size: 30px;
  width: 33%;
}

.work-container{
  margin-left: -10em;
  display: flex;

}

.furnspace,.changing-workplace,.get-staffed-up{
 width: 7rem;
 height: 7rem;
 cursor: pointer;
}

.furnspace p,.get-staffed-up p{
  font-size:15px;
  padding-top: 3rem;
}

.changing-workplace p{
padding-top: 2.5rem;
}

.download-resume{
margin-left: -3em;
width:20rem;
margin-top: 2em;
}

.download-resume a{
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-size: 20px;
}

.card{
margin-top: -14rem;
margin-left: 20rem;
}

.close{
  margin-left:17rem;
}

.changing-card{
  margin-top: -14rem;
  margin-left: 7rem;
  
}

.cafm-card{
margin-top: -14rem;
margin-left: 28rem;
position:absolute;
}

.education-contain{
  display: flex;
}

.education-container h1{
  font-size: 30px;
  width: 27%;
  margin-left: 20rem;
}

.codespace-card,.ux-card,.shaw-card{
  margin-left: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-title{
  margin-top: 0rem;
}

.codespace-card a,.ux-card a,.shaw-card a{
font-size: 12px;
}

.card-link{
  display: inline;
  text-decoration: none;
  color:var(--lightest-color)
}

.github-link{
  margin-left:-1.3rem !important;
}

.shaw-card{
  height:18vh;
}
}

@media (min-width: 1200px){

.navbar-nav{
  margin-left: 0em;
}

.nav-item{
    margin-top: 0em;
    max-width: 14em;
}

.gitHub img {
    margin-left: 24em;
}

.linkedIn img{
    margin-left: 21em;
}

.gitHub img,.linkedIn img{
    margin-top: 0.1em;
}

h1 {
  margin: 1.5em;
  font-size: 50px;
}

.hero{
    width:100%
}

.slides img{
 width: 30vw;
 height: 30vw;
 margin-left:15em;
}

.text-container{
    margin-left:-7em;
}

.aboutMe h1{
  font-size:40px;
  width:30%;
  margin-left:3em;
}

.aboutMe-par p{
  font-size: 20px;
  width: 50%;
  margin-left: 13em;
}

.education-contain{
  display: flex;
}

.experience-container h1{
  font-size: 40px;
}

.download-resume{
  margin-left: 0em;
}

.card{
  margin-top: -16rem;
  margin-left: 26rem;

}

.close{
  margin-left:17rem;
}

.changing-card{
  margin-top: -16rem;
  margin-left: 17rem;
  
}

.cafm-card{
margin-top: -14rem;
margin-left: 38rem;
position:absolute;
}

.education-container h1{
  font-size: 40px;
  width: 32%;
}

.codespace-card,.ux-card,.shaw-card{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.codespace-card a,.ux-card a,.shaw-card a{
font-size: 12px;
}

.card-link{
  display: inline;
  text-decoration: none;
  color:var(--lightest-color)
}

.github-link{
  margin-left:-1.3rem !important;
}

.shaw-card{
  height:18vh;
}
}

@media (min-width: 1400px){
.nav-item{
    margin-left: -2em;
}
.nav-link{
    width: 13em;
}

.hero{
    height:90vh;
}

.gitHub img {
    margin-left: 12em;
}

.linkedIn img{
    margin-left: 3em;
}

.gitHub img,.linkedIn img{
    margin-top: 0.1em;
    width: 2em;
    height: 2em;
}

h1{
  font-size: 75px;  
}

.slides img{
 width: 20vw;
 height: 20vw;
 margin-left:30em;
}

.text-container{
    margin-left:-7em;
}

.aboutMe h1{
  font-size:45px;
  width:20%;
  margin-left:10em;
}

.aboutMe-par p{
  font-size: 20px;
  width: 50%;
  margin-left: 25em;
}

.experience-container{
  margin-left: 37em;
  width: 50%;
}

.experience-container h1{
  font-size: 40px;
  margin-left: 1em;
}

.work-container{
  margin-left: -15em;
}

.download-resume{
  margin-left: -1em;
}

.download-resume{
  margin-left: 2em;
}

.card{
  margin-top: -16rem;
  margin-left: 48rem;

}

.close{
  margin-left:17rem;
}

.changing-card{
  margin-top: -16rem;
  margin-left: 39rem;
  
}

.cafm-card{
margin-top: -14rem;
margin-left: 60rem;
position:absolute;
}

.education-container h1{
  font-size: 40px;
  width: 23%;
  margin-left:35rem;
}

.codespace-card,.ux-card,.shaw-card{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:30vw;
}

}